.div{
    position: relative;
    height: 420px;
    width: 340px;
    margin: 15px 0px 15px 0px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 5px 15px 6px rgba(0,0,0,0.61);
    -webkit-box-shadow: 4px 5px 15px 6px rgba(0,0,0,0.61);
    -moz-box-shadow: 4px 5px 15px 6px rgba(0,0,0,0.61);
    background: linear-gradient(0deg, rgb(101, 255, 127), rgb(0, 238, 255));
}

.image{
    position: relative;
    height: 65%;
    width: 70%;
}

.name{
    position: relative;
    color: black;
    text-transform: capitalize; 
}

.types{
    position: relative;
    display: flex;
    color:black;
    text-transform: capitalize;
}

.type{
    margin: 5px;
}